Section: misc
Priority: optional
Package: stwalkerster-environment
Version: ${VERSION}
Maintainer: Simon Walker <simon@stwalkerster.co.uk>
Architecture: all
Description: stwalkerster's environment configuration
 This package contains the bash environment settings for stwalkerster
